/* FAQ 전체 컨테이너 중앙 정렬 */
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

  /* FAQ 헤더 스타일 */
.faq-header {
    font-size: 2em;
    margin-bottom: 20px;
    margin: 50px;
}

  /* 검색 입력란 스타일 */
.faq-search {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    color: #333;
}

/* 카테고리 컨테이너 스타일 */
.faq-categories-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.faq-categories {
    display: flex;
    overflow: hidden;
    justify-content: center;
    flex-wrap: nowrap;
}

/* 카테고리 구분선 스타일 */
.category-separator {
    margin: 0 10px;
    color: #ddd;
}

/* 카테고리 텍스트 스타일 */
.faq-category {
    color: #a2a2a2; /* 카테고리 텍스트 색상 통일 */
    font-size: 1em; /* 텍스트 크기 설정 */
    display: flex;
    align-items: center;
}

/* 카테고리 넘기는 버튼 스타일 */
.arrow {
    background-color: #fff;
    border: 1px solid #ccc; /* 테두리 추가하여 네모 상자 표시 */
    cursor: pointer;
    font-size: 1em; /* 텍스트 크기와 동일하게 설정 */
    color: #a2a2a2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; /* 버튼 크기를 텍스트와 동일하게 설정 */
    height: 100%; /* 버튼 높이를 부모 컨테이너에 맞춤 */
    margin-left: 10px; /* 버튼 위치 조정 */
}

 /* 질문 목록 스타일 */
.faq-list {
    width: 100%;
    max-height: 400px; /* 스크롤 가능한 높이 설정 */
    overflow-y: auto; /* 스크롤 활성화 */
}

  /* 질문 항목 스타일 */
.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

 /* 질문 텍스트 스타일 */
.faq-question {
    cursor: pointer;
    display: flex;
    text-align: left; /* 텍스트 왼쪽 정렬 */
    color: #333; /* 기본 텍스트 색상 */
}

/* 드롭다운 화살표 스타일 */
.dropdown-arrow {
    margin-left: 10px;
    color: #ccc; /* 화살표 색상 연한 그레이로 변경 */
}

  /* 답변 텍스트 스타일 */
.faq-answer {
    padding: 10px 0;
    color: #333; /* 기본 텍스트 색상 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.faq-list {
    width: 100%;
    max-height: 500px; /* 스크롤 가능한 높이 설정 */
    overflow-y: auto; /* 스크롤 활성화 */
    margin-top: 20px;
    margin-bottom: 20px;
}

  /* 활성화된 카테고리 텍스트 빨간색 */
.faq-category.active {
    color: red;
}