*,
::after,
::before,
:after,
:before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #7b7a7a;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
}

:root {
  /* color */
  --c-bg-white: #ffffff;
  /*root 컬러 건들지마세요*/
  --c-darkgray: #757575;
  --c-lightgray: #eeeeee;
  --c-black: #000000;
  --c-point: #ff5722;
}