@import url("../../../root.css");

.orderManage-wrapper form,
.orderManage-wrapper fieldset,
.orderManage-wrapper legend,
/* .orderManage-wrapper input, */
.orderManage-wrapper textarea
/* .orderManage-wrapper select */
/* .orderManage-wrapper button  */ {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.orderManage-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: var(--c-lightgray);
  flex-direction: column;
}

.orderManage-content-wrapper {
  display: flex;
  width: calc(100vw - 300px);
  height: calc(100vh - 70px);
  margin-left: 300px;
  padding: 20px;
  flex-direction: column;
}

.orderManage-header {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.orderManage-title {
  display: flex;
  width: auto;
  height: inherit;
  font-size: 18px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.orderManage-select-container,
.orderManage-select-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-bottom: 10px;
  padding: 5px 15px;
}

.orderManage-select-container > form {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.orderManage-select-container {
  box-shadow: 0 0 0 0.5px var(--c-darkgray);
}

.orderManage-select-box {
  display: flex;
  height: 25px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--c-lightgray);
}

.orderManage-select-label {
  display: flex;
  height: 100%;
  width: 70px;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: var(--c-bg-white);
  background-color: var(--c-darkgray);
}

.orderManage-select-item {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.orderManage-orderNumber-search-input {
  width: 200px;
  border: 1px solid black;   
  font-size: 11px;
  padding: 3px 6px;
  margin-right: 10px;
}

.orderManage-select-item > label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.orderManage-select-date {
  width: 70px;
  display: flex;
  border: 1px solid black;
  text-align: center;
}

.orderManage-search-btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderManage-search-btn {
  width: 40px;
  cursor: pointer;
  height: 20px;
  border: 1px solid var(--c-darkgray);
  box-shadow: 1px 1px 1px 1px var();
  background-color: var(--c-lightgray);
}

.orderManage-search-btn:active,
.orderManage-search-last-btn:active {
  background-color: var(--c-darkgray);
  color: var(--c-bg-white);
}

.orderManage-search-last-btn-box {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  padding: 0;
}

.orderManage-search-last-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  cursor: pointer;
  height: 30px;
  border: 1px solid var(--c-darkgray);
  box-shadow: 1px 1px 1px 1px var();
  background-color: var(--c-lightgray);
}

.orderManage-check {
  display: flex;
  align-items: center;
}

.orderManage-table-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  padding: 10px 25px;
  background-color: var(--c-bg-white);
  box-shadow: 0 0 0 0.2px var(--c-black);
  margin-bottom: 10px;
}

.orderManage-table-con {
  width: 100%;
  height: inherit;
}

.orderManage-table-summary {
  padding: 5px;
  font-size: 13px;
  color: var(--c-black);
}

.orderManage-table-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 300px;
  box-shadow: 0 0 0 0.5px var(--c-black);
  background-color: var(--c-lightgray);
}

.orderManage-table {
  width: 100%;
  border-collapse: collapse;
  flex-direction: column;
}

.orderManage-table th,
.orderManage-table td {
  height: 30px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0 0.2px var(--c-black);
}

.orderManage-table tr {
  display: flex;
}

/* 각 셀의 가로길이 조절 */
.orderManage-table th:nth-child(4),
.orderManage-table td:nth-child(4),
.orderManage-table th:nth-child(5),
.orderManage-table td:nth-child(5),
.orderManage-table th:nth-child(6),
.orderManage-table td:nth-child(6),
.orderManage-table th:nth-child(7),
.orderManage-table td:nth-child(7) {
  width: 50%;
}

.orderManage-table th:nth-child(8),
.orderManage-table td:nth-child(8) {
  width: 30%;
}

.orderManage-table-head {
  font-size: 11px;
  background-color: var(--c-darkgray);
  color: var(--c-bg-white);
  height: 30px;
}

.orderManage-table-body {
  font-size: 11px;
  padding-left: 5px;
  height: 20px;
}

.orderManage-page-btn-box {
  background: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.orderManage-page-btn {
  background: none;
  display: flex;
  border-bottom: 1px solid var(--c-black);
  cursor: pointer;
  font-size: 11px;
}

.orderManage-page-num {
  display: flex;
  cursor: pointer;
  background: none;
  justify-content: center;
  align-items: center;
  /* font-weight: 600; */
}

.orderManage-page-num:focus,
.orderManage-page-btn:focus {
  font-weight: 600;
}

.orderManage-table-item-orderNum {
  color: inherit;
  text-decoration: none;
  padding: 2px 3px;
  border-bottom: 1px solid var(--c-black);
}

.orderManage-top {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.orderManage-status-change-btn {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--c-bg-white);
  background-color: var(--c-point);
  box-shadow: 0 0 0.5px 0.2px var(--c-black);
  cursor: pointer;
}

.orderManage-status-change-btn:active {
  color: var(--c-point);
  background-color: var(--c-bg-white);
  box-shadow: 0 0 0.5px 0.2px var(--c-black);
}
