@import url("../../root.css");
:root {
    /* color */
    --c-bg-white: #ffffff; /*root 컬러 건들지마세요*/
    --c-darkgray: #757575;
    --c-darkgray: #eeeeee;
    --c-black: #000000;
    --c-point: #ff5722;
  }
.product {
    background-color: var(--c-darkgray);
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}
.th{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}
.notice-view-wrapper {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notice-view-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.notice-view-row label {
    font-weight: bold;
}

.notice-view-go-list-btn {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
}

.notice-view-go-list-btn:hover {
    background-color: #0056b3;
}
.delete{
    border:border;
    padding: 3px 6px;
    background-color: var(--c-point);
    cursor: pointer;
}
.update{
    border:border;
    padding: 3px 6px;
    background-color: var(--c-point);
    cursor: pointer;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap:20px
}
.product-input{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}