.order-container {
  width: 80%;
  margin: auto;
}

.order-container h1 {
  text-align: center;
  font-weight: 400;
  display: block;
  margin-top: 70px;
  margin-bottom: 70px;
}

.order-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 2px solid #ddd;
  color: #191919;
  font-size: 15px;
  font-family: YoonGothicPro740, dotum, 돋움, Arial, "sans-serif";
  text-rendering: auto !important;
}

.step {
  flex: 1;
  text-align: center;
}

.current-step {
  background-color: #d1e7fd;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  padding: 10px;
}

.order-items {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-items th,
.order-items td {
  padding: 10px;
  text-align: center;
}

.order-items-menu {
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}


.order-item img {
  width: 80px;
  margin-right: 20px;
}

.order-item-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-item-name {
  font-weight: 400;
}

.order-item-option {
  color: #888;
}

.order-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-form-summary {
  display: flex;
  justify-content: space-between;
}

.order-form {
  flex: 2;
}

.form-section {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-section legend {
  cursor: pointer;
}

.form-section-toggle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.form-group {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-group {
  display: flex;
  align-items: center;
}

.apply-coupon-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.apply-coupon-button:hover {
  background-color: #e64a19;
}

.next-button {
  margin-top: 20px;
  padding: 5px 10px;
  background-color: #ff5722;
  color: white;
  border: none;
  cursor: pointer;
}

.next-button:hover {
  background-color: #e64a19;
}

.order-summary {
  flex: 1;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.order-summary h3 {
  margin-bottom: 20px;

}

.summary-content {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
}

.summary-total {
  color: red;
  font-size: 1.5em;

}

.terms {
  margin: 20px 0;
  background-color:#e7e3e37e;
}

.terms label {
  display: block;
  margin-bottom: 10px;
}

.submit-button {
  width: 100%;
  padding: 10px 0;
  background-color: #ff5722;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

.submit-button:hover {
  background-color: #e64a19;
}
