.noticebody {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;

}

.notice{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.notice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.notice-table thead {
    background-color: #f1f1f1;
}

.notice-table th, .notice-table td {
    border: 1px solid #000000;
    padding: 12px;
    text-align: left;
}

.notice-table th {
    font-weight: bold;
    background-color: var(--c-darkgray);
    color: var(--c-bg-white);
}

.notice-table td {
    color: #333;
}

.notice-table tr:hover {
    background-color: #f1f1f1;
}
